@media only screen and (max-width: 992px) {
    .LF-disappear {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    .LF-disappearXs {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .LF-disappearS {
        display: none;
    }
}